<div class="copyright" id="footer_div">
  <div class="container">
   
    <div class="col-md-6">
      <ul class="bottom_ul">
       <li><a href="#"> © 2011 Restorant HANAMI |</a>  <a href="#"> Cash registers</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>